@use "sass:color";

@each $name, $color in $colors {
  .bg-#{"" + $name} {
    background-color: $color;
  }

  .text-#{"" + $name} {
    color: $color;
  }

  .btn.btn-#{"" + $name} {
    background-color: $color;
    color: map-get($contrasts, $name);
    border: 2px solid color.mix($color, map-get($contrasts, $name), 50%);
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    &:hover, &:focus {
      background-color: color.adjust($color, $lightness: -5%);
    }
  }
}

// todo refactor to some other file
.box-shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
}