.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-fill {
  flex: 1 1 auto;
}

.flex-grow {
  flex: 1 0 auto;
}
.flex-shrink {
  flex: 0 1 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}



.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}


.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.g-1 {
  gap: 0.25rem;
}
.g-2 {
  gap: 0.5rem;
}
.g-3 {
  gap: 1rem;
}
.g-4 {
  gap: 1.5rem;
}
.g-5 {
  gap: 2rem;
}