// Responsive font sizes
body {
  font-size: $font-size-base;
  @include media-breakpoint-up(md) {
    font-size: $font-size-base * 1.125;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-base * 1.25;
  }
}