// Typography
$font-family-base: 'Montserrat', system-ui, -apple-system, sans-serif;
$font-size-base: .875em;
$font-size-sm: $font-size-base * .875;
$font-size-lg: $font-size-base * 1.25;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$line-height-base: 1.6;

// Colors
$body-color: #212121;
$body-bg: #FAFAFA;
$border-color: #CCC;